@namespace AdventOfCode.Shared

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">adventofcode</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <div class="panel-group" id="accordion">
        @foreach (var group in content.Groups)
        {
            <div class="panel panel-default" @key="group">
                <div class="panel-heading">
                    <div class="nav-item px-1">
                        <a data-toggle="collapse" data-parent="#accordion" href="@("#"+ group.Id)" class="nav-link collapsed">
                            <div class="lead">@group.HeadingTitle</div>
                            <span class="oi oi-post oi-chevron-toggable" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
                <div id="@group.Id" class="panel-collapse collapse in">
                    <ul class="list-group">
                        @foreach (var p in group.Pages)
                        {
                            <li class="nav-item px-3" @key="p">
                                <NavLink class="nav-link" href="@p.Href">
                                    <span class="@p.IconClass" aria-hidden="true"></span>@p.Title
                                </NavLink>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        }
    </div>
</div>

@*<ul class="nav flex-column">

    </ul>*@

@code {
    class Content
    {
        public IList<ContentGroup> Groups;
    }

    class ContentGroup
    {
        public string HeadingTitle;
        public string Id;
        public IList<Page> Pages;
    }


    class Page
    {
        public string Href;
        public string IconClass;
        public string Title;
    }

    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse mainnav" : "collapse mainnav show";

    private Content content = new Content
    {
        Groups = new List<ContentGroup>() {
            new ContentGroup() {
                HeadingTitle = "Event 2015",
                Id = "collapse2015",
                Pages = new List<Page>() {
                    new Page { Href = "task2015_1", IconClass = "oi oi-map", Title = "2015 Day 1"},
                    new Page { Href = "task2015_8", IconClass = "oi oi-map", Title = "2015 Day 8"},
                    new Page { Href = "task2015_9", IconClass = "oi oi-map", Title = "2015 Day 9"},
                },
            },
            new ContentGroup() {
                HeadingTitle = "Event 2016",
                Id = "collapse2016",
                Pages = new List<Page>() {
                    new Page { Href="task2016_19", IconClass="oi oi-tag"  , Title = "2016 Day 19" },
                    new Page { Href="task2016_20", IconClass="oi oi-aperture"  , Title = "2016 Day 20" },
                    new Page { Href="task2016_21", IconClass="oi oi-key"  , Title = "2016 Day 21" },
                    new Page { Href="task2016_22", IconClass="oi oi-hard-drive"  , Title = "2016 Day 22" },
                    new Page { Href="task2016_23", IconClass="oi oi-key"  , Title = "2016 Day 23" },
                    new Page { Href="task2016_24", IconClass="oi oi-grid-three-up"  , Title = "2016 Day 24" },
                    new Page { Href="task2016_25", IconClass="oi oi-audio"  , Title = "2016 Day 25" },

                },
            },
        }
    };

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
